@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
  margin: 0;
  font-family: Quicksand;
  color: #333;
}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background-color: white;
  color: black;
  border: 1px solid;
}

.container-reg{
  max-width: 500px;
  align-items: center;
}